/* Body and container styling */
body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif; /* Set global font family */
}

.container {
  display: flex;
  height: 100vh; /* Full viewport height */
}

/* Output column styling */
.output-column {
  flex: 1; /* Take up the remaining half of the container */
  padding: 20px;
  background-color: #1e1e1e;
  height: 100vh; /* Full height */
  overflow-y: auto; /* Makes the right column scrollable */
  box-sizing: border-box; /* Ensure padding doesn't affect the width */
}

/* Button column styling */
.button-column {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #333;
  background-color: #1e1e1e;
  overflow-y: auto; /* Makes the left column scrollable */
  height: 100vh; /* Ensure the full height is available for scrolling */
}

/* Button styles */
.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adds space between buttons */
}

button {
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #007bff;
  background-color: #333;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button.selected {
  background-color: #044c9a;
  border-color: #0056b3;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
}

/* Textarea styling */
textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #222;
  color: #ffffff;
  border: 1px solid #444;
  padding: 10px;
}

.invalid-input {
  border: 2px solid red; /* Change the border to red for invalid input */
  color: red;
}

/* Search container styling */
.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.search-input {
  width: 60%;
  padding: 10px;
  background-color: #222;
  color: #ffffff;
  border: 1px solid #444;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
}

.clear-search-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

/* No results message */
.no-results-message {
  color: #ff6b6b;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}

/* Header styling */
.header {
  background-color: #222; /* or any dark color different from the background */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 20px; /* Adds space between buttons */
}

.header button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.header button:hover {
  background-color: #444;
}

/* Duplicate checker output section */
.duplicates-section {
  background-color: #1e1e1e;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-top: 20px;
}
